<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newgroceryui_kit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".payment"></activity>
        <activity android:name=".ItemDescription" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Kart" />
        <activity android:name=".locateMe" />
        <activity android:name=".noInternet" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".shopMore" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>